<br>
<h1 class="text-secondary text-center">Leaderboard</h1>
<br>

<div class="container">
  <div class="row">
    <div class="col-3">
      <img src="../../assets/images/trophy.jpeg">
    </div>

    <div class="col-9">
      <div class="container">
        <table class="table">
          <tr class="thead-light">
            <th>Ranking</th>
            <th>Name</th>
            <th>Found Objects</th>
            <th>Total Playtime</th>
            <th>Total Score</th>
          </tr>
          <tr *ngFor="let ranking of rankings">
            <td><kbd>{{ ranking.total_rank }}</kbd></td>
            <td>{{ ranking.name }}</td>
            <td>{{ ranking.total_found_objects }}</td>
            <td>{{ ranking.total_playtime }}"</td>
            <td>{{ ranking.total_score }}</td>
          </tr>
        </table>
      </div>
    </div>

  </div>

</div>


