.timer-rounded {
    background-color: darkgreen;
    border-radius: 1rem;
    color: white;
    font-family: 'Impact', serif;
}

.label-rounded {
    background-color: grey;
    border-radius: 1rem;
    color: white;
    font-family: 'Impact', serif;
}

.object-list {
    background-color: #d1ecf1;
    border-radius: 1rem;
    height:200px;
}

.object-font {
    font-size: 2em;
    font-family: 'Impact', serif;
}

.modal-header {
    background-color: green;
    color: white;
}
